name: Build Docker image

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1) Récupérer le code du repo
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2) Setup Docker Buildx
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 3) Construire l'image Docker
      - name: Build Docker image
        run: |
          docker build -t mon_saas_app .

      # 4) (Optionnel) Lister les images
      - name: List Docker images
        run: docker images
